@use "../../shared/styles/base/variables";
@use "../../shared/styles/base/reset";
@use "../../shared/styles/components/spinner";
@use "../../shared/styles/components/buttons";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 24px;
}

#message {
  font-size: 14px;
  color: var(--outline);
  margin-top: 16px;
}

.error-msg {
  color: var(--error) !important;
  font-size: 13px !important;
  margin-top: 12px;
}

#close-btn {
  margin-top: 16px;
  display: none;
}
